{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
<h1>Log in</h1>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p><label for="id_username">Username</label><br>{{ form.username.errors }}{{ form.username }}</p>
  <p><label for="id_password">Password</label><br>{{ form.password.errors }}{{ form.password }}</p>
  <input type="hidden" name="next" value="{{ next }}">
  <p><button type="submit">Log in</button></p>
</form>
<p><a href="{% url 'register' %}">Register</a></p>
{% endblock %}
